* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --font-color-light: #c9c8c8;
    --font-color-dark: black;
    --background-color-darkest: rgb(27, 27, 27);
    --backround-color-dark: rgb(44, 44, 95);
    --background-color-nav: blue;
    --background-color-nav-active: #04AA6D;
    --background-color-nav-hover: #c9c8c8;

}

h1, h2, p {
    color: var(--font-color-light)
}

.light {
  color: var((--font-color-dark));
}

#landing-page {
    background-color: var(--backround-color-dark);
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#title {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.landing-page-element {
    text-align: center;
    vertical-align: center;
}

h1.landing-page-element {
    font-size: 5em;
}

h2.landing-page-element {
    font-size: 2em;
}

p.landing-page-element {
    width: 100%;
    height: auto;
    font-size: 1em;
    flex: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#picture {
  height: 70vh;
}

.navbar {
  background-color: var(--background-color-nav);
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 50px;
  z-index: 10;
}

.navbar a {
    height: 100%;
    color: var(--font-color-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a.right {
    float: right;
}

.navbar a.left {
    float: left;
}

.navbar a.right:first-of-type {
  margin-right: 14px;
}


.navbar a:hover {
  background-color: var(--background-color-nav-hover);
  color: black;
}

.navbar a.right.active {
  background-color: var(--background-color-nav-active);
  color: var(--font-color-light);
}

#projects {
  height: 500px;
  background-color: var(--background-color-darkest);
}

.project-tile {
  width: 50px;
  height: 50px;
  background-color: var(--background-color-dark);
}

#contact {
  height: 500px;
  background-color: var(--backround-color-dark);
}

footer {
  background-color: var(--background-color-darkest);
  width: auto;
}

footer p {
  padding: 10px;
  margin: 0;
  color: var(--font-color-light);
  text-align: center;
}

.cv-section {
    width: 70%;
    margin: 100px auto;
}

.cv-background {
    background-color: var(--backround-color-dark);
}

.mySlides {
  display: none; /*changed to "flex" in code when active*/
  flex-direction: column;
  height: 100%;
  width: auto;
  padding: 0;
  margin: 0;
}
.portfolio-img {
  /*vertical-align: middle;*/
  display: block;
  flex: 1 1 auto; /* Let it take remaining space */
  min-height: 0;
  object-fit: contain;
  width: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.title, .tagline {
  background-color: var(--background-color-darkest);
  color: var(--font-color-light);
  font-size: 15px;
  text-align: center;
  flex: 0 0 auto;
  margin: 0;
  width: 100%;
}

.title {
  font-size: xx-large;
  padding: 15px;
}

.tagline {
  font-size: medium;
  padding-bottom: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideshow-container {
    background-color: var(--backround-color-dark);
    height: calc(100vh - 50px);
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 30px;
  margin: 0 auto;
  padding: 20px 10px;
}

.project-card {
  padding: 20px;
  
  max-width: 80vw;
  max-height: 80vh;
  height: 350px;
  width: 500px;
}

.project-card:hover {
  cursor: pointer;
  padding: 5px;
}

.project-card::after {
  content: "";
  width: 350px;
}

.project-card a {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;

  text-decoration: none;
  color: inherit;
}

.project-card a img {
  flex: 1 1 auto;
  object-fit: fill;
  border-radius: 10px 10px 0px 0px;
  
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}


.project-card a figcaption .title {
  flex: 0 0 auto;
  height: 50px;
  width: auto;
  padding: 0;
  border-radius: 0 0 10px 10px;

  font-size: xx-large;
  text-align: middle;
  line-height: 50px;
  color: var(--font-color-dark);

  background-color: var(--background-color-nav-hover);
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
}

#porfolio-project-description {
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding: 20px;
}